body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image:url('images/homescreen_background.jpg')

#logo
   float:left
   height:120px
   width:490px
   background-image:url('images/Logo.png')



#signup
	float:right;
	height: 120px
	width:120px
	font: 14px 

#Signinbutton
	width:100px
	height:50px
	background-color:black
    border:double
    color:white
    text-align:center
    text-decoration:inherit
    display:inline
	font: 14px bold
a
  color: #00B7FF