extends layout

head
    title 
   
  
block content
    div.container
        div#logo
        div#signup
                button.Signinbutton(
                type= "button"
                 onclick = "return loadsigin()"
                ) SignIn

             //modalsignin declaration
      #signin-modal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') x
                .modal-body
                     form
                         div.form-group
                             label(for="UserName") UserName
                             input.form-control#UserName(type ="email | text" placeholder="Enter your username")
                         div.form-group
                             label(for="InputPassword") Password
                             input.form-control#password(type ="password" placeholder="Enter your email")
                     a.spmodal(  href = "javascript:loadforgotpassword()") Forgot Password..?
                     br
                     button.btn.btn-default(type="submit") Submit
                     button.btn.btn-default(type="button" onclick = "return loadsignup()") SignUp
                .modal-footer
                    a.btn(href='#', data-dismiss='modal') Close

    #signup-modal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') x
                .modal-body
                     form
                         div.form-group
                             label(for="Email") EmailAddress
                             input.form-control#EmailAddress(type ="email" placeholder="Enter your EmailAddress")
                         div.form-group
                             label(for="UserName") UserName
                             input.form-control#UserName(type ="email | text" placeholder="Enter your username")
                         div.form-group
                             label(for="Password") Password
                             input.form-control#UserName(type ="password" placeholder="Enter your Password")
                         div.form-group
                             label(for="RetypePassword") ReTypePassword
                             input.form-control#password(type ="password" placeholder="Enter your Password")
                     button.btn.btn-default(type="submit") Submit
                .modal-footer
                    a.btn(href='#', data-dismiss='modal') Close
       
       
    #forgotpassword-modal.modal.fade
         .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') x
                .modal-body
                     form
                         div.form-group
                             label(for="Email") EmailAddress
                             input.form-control#EmailAddress(type ="email" placeholder="Enter your EmailAddress")
                     button.btn.btn-default(type="submit") Submit
                .modal-footer
                    a.btn(href='#', data-dismiss='modal') Close

                
