extends layout

head
    title
block content
    div.container
        div.modal.fade#modal-dialog
           div.modal.content   
               div.modal-header
                   button.close(type=button data-dismiss="modal") 
                       span(aria-hidden="true")
                       span.sr-only close
               form
                   div.form-group
                       label(for="UserName") UserName
                       input.form-control#UserName(type ="email" placeholder="Enter your username")
                   div.form-group
                       label(for="InputPassword") Password
                       input.form-control#InputEmailAddress(type ="email" placeholder="Enter your email")
                   button.btn.btn-default(type="submit") Submit